# History files
.Rhistory

# R data files
*.rda
*.RData

# Example code in package build process
*-Ex.R

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.synctex.gz\(busy\)
*.fdb_latexmk
paper/figures/*

# R project files
.Rproj.user
FRTIndex.Rproj

.DS_Store
